[user]
	name = bevicted
	email = BisonsEvicted@email.com

[core]
	editor = nvim

[diff]
	colorMoved = default

[pull]
	rebase = true

[alias]
	trueblame = blame -wCCC

[branch]
	sort = -committerdate

[merge]
	conflictStyle = zdiff3

[user]
  signingkey = signing key

[gpg]
  format = ssh

[gpg "ssh"]
  program = "myprogram"

[commit]
  gpgsign = true

[includeIf "hasconfig:remote.*.url:git@work.com:*/**"]
  path = ~/.gitconfig.work

