# tmux
.config/tmux/plugins

# nvim
.config/nvim/tt.*
.config/nvim/.tests
.config/nvim/doc/tags
.config/nvim/debug
.config/nvim/.repro
.config/nvim/foo.*
.config/nvim/*.log
.config/nvim/data
.config/nvim/lazy-lock.json

# firefox
.mozilla/firefox/user.arkenfox/
!.mozilla/firefox/user.arkenfox/user-overrides.js

# obsidian
obsidian_vault/.obsidian/workspace.json
obsidian_vault/.obsidian/workspace-mobile.json

# ssh
.ssh/
!.ssh/config

# work
work.sh

